 * { 
 box-sizing: border-box;
}
/*properties*/
:root {
  --bgcolor: #EFF5F5;
  --xcolor:#A2B5BB;
  --ycolor:#7D9D9C;
  --fontlogo: "Passions Conflict", cursive;
  --font2: "Archivo Narrow", sans-serif;
  @media screen and (max-width: ($tablet - 1px));
}
/*general style*/
body {
  background: var(--bgcolor);

  font-family: var(--font2);

  line-height: 1.6;
}

/*styling the header*/
header {
  
  height: 80px;
  
}
.logo {
  color: var(--xcolor);
  font-family: var(--fontlogo);
  font-size: 60px;
  position: relative;
  top: -70px;
}
.bar {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: var(--font2);
  position: relative;
  top: -230px;

}
.list {
  list-style: none;
   
}

li {
  display: inline-block;
  margin-left: 25px;
  font-family: var(--font2);
  font-size: 25px;
 
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #7D9D9C;

}
h1{
position: relative;
left:700px;
font-size: 50px;
background-color:#7D9D9C ;
display: inline-block;
padding: 10px 30px;

}
.info{
position: relative;
right:28px;
display:inline-block
font-size: 150px;
background-color:var(--xcolor);
margin: 10px 180px 10px 120px ;
text-align: right;
padding: 10px 130px;
}

img {
  display:inline-block;
  height: 300px;
  width: 500px;
  position: relative;
  top: -100px;
  left:200px ;
  box-shadow: 10px 10px 30px grey;
  z-index: 1;
}

.info-me{

}
.aboutme-title{
    font-size: 40px;
    color:#65647C;
    margin:120px 20px 20px 100px;

}


.paragraph-me{
    text-align: left;
    display: inline-block;
    font-size: 25px;
  margin-top: 10px;
    margin-inline: 150px;
    text-indent: 70px;
}
.paragraph-me::first-letter{
    color:aquamarine;
    font-size: 50px;
}