 * { 
 box-sizing: border-box;
}
/*properties*/
:root {
  --bgcolor: #EFF5F5;
  --xcolor:#A2B5BB;
  --ycolor:#7D9D9C;
  --fontlogo: "Passions Conflict", cursive;
  --font2: "Archivo Narrow", sans-serif;
  @media screen and (max-width: ($tablet - 1px));
}
/*general style*/
body {
  background: black;

  font-family: var(--font2);


}

/*styling the header*/
header {
  
  height: 80px;
  
}
.logo {
  color: var(--xcolor);
  font-family: var(--fontlogo);
  font-size: 60px;
  position: relative;
  top: -60px;
 
}
.bar {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: var(--font2);
  position: relative;
  top: -200px;

}
.list {
  list-style: none;
   
}

li {
  display: inline-block;
  margin-left: 25px;
  font-family: var(--font2);
  font-size: 25px;
 
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #7D9D9C;

}
h1{
position: relative;
left:550px;
font-size: 30px;
background-color:#7D9D9C ;
display: inline-block;
padding: 5px 30px;
margin-bottom: 10px;
border-radius: 8px;

}
.info{

background-color: #A2B5BB;
color: #65647C;
margin: 10px 200px 10px 50px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 520px;
width: 743px;
border-radius: 8px;
font-size: 30px;

}


 


img {
  display:inline-block;
  height: 250px;
  width: 400px;
  position: relative;
  top: -80px;
  left:400px ;
  box-shadow: 10px 10px 30px grey;
  border-radius: 5px;
  z-index: 1;
}
.container{
  background-color: white;
  margin-left: 250px;
  margin-bottom: 100px;
}
.aboutme-title, .service-title{
    font-size: 40px;
    color:#65647C;
 
    position: relative;
    right: 200px;
    top: 80px;

}


.paragraph-me{
    text-align: left;
    display: inline-block;
    font-size: 20px;
  margin-top: 10px;

    margin-left: 50px;
    margin-right: 100px;
    text-indent: 45px;
    color: black;
}
.paragraph-me::first-letter{
    color:aquamarine;
    font-size: 40px;
}
/*.webserv, .commerceserv, .appserv{
    background-image: linear-gradient(var(--bgcolor), var(--xcolor));
     display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 500px;
    height: 200px;
    border-radius: 8px; 

.webserv{
position: relative;
left: 160px;
}

.commerceserv{
  position: relative;
left: 350px;  
margin:35px;
}
.appserv{
    position: relative;
left: 550px;
}
.websites, .ecommerce, .webapp{
    margin-bottom: 5px;
    font-size: 25px;
}
#para{
margin-top: 5px;
font-size: 25px;
padding-left: 20px;
}  
.webicon, .eicon, .appicon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 15px;
}*/

