* {
  box-sizing: border-box;
}

/*properties*/
:root {
  --bgcolor: #2c2c2e;
  --xcolor: rgb(183, 121, 87);
  --ycolor: #728e7e;
  --zcolor: rgb(179, 176, 43);
  --logocolor: #c36767;
  --titlecolor: #e3e0dd;
  --bgimgcolor: linear-gradient(#cfd4d4, #eca869);
  --fontlogo: "Passions Conflict", cursive;
  --font2: "Archivo Narrow", sans-serif;
}
/*general style*/
body {
  background: var(--bgcolor);
  font-family: var(--font2);
}

/*styling the header*/
header {
  height: 150px;
}
.logo {
  color: var(--xcolor);
  font-family: var(--fontlogo);
  font-size: 60px;
  position: relative;
  top: -60px;
  color: var(--logocolor);
  font-style: oblique;
}

.bar {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: var(--font2);
  position: relative;
  top: -200px;
}
.list {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 0.5em;
  font-family: var(--font2);
  font-size: 30px;
}
.list-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--ycolor);
  position: relative;
  padding: 7px 0;
}

.list-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0px;
  height: 2px;
  background: var(--ycolor);
  transition: all 250ms ease-in-out;
}
.list-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 2px;
  background: var(--ycolor);
  transition: all 250ms ease-in-out;
}

.list-link:hover::before,
.list-link:hover::after {
  width: 100%;
  left: 0;
}
.list-link:hover {
  color: var(--xcolor);
}
.list-link:active {
  color: var(--zcolor);
}

.container {
  background-image: var(--bgimgcolor);
  margin-left: 250px;
  margin-bottom: 100px;
  border-radius: 8px;
}

h1 {
  position: relative;
  left: 540px;
  font-size: 30px;
  background-color: var(--bgcolor);
  color: var(--titlecolor);
  display: inline-block;
  padding: 5px 40px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.info {
  background-color: var(--ycolor);
  color: var(--titlecolor);
  margin: 10px 220px 10px 50px;
  padding: 0px 25px 10px 530px;
  width: 750px;
  border-radius: 8px;
  font-size: 30px;
}

.me {
  display: inline-block;
  height: 350px;
  width: 350px;
  position: relative;
  top: -50px;
  left: 450px;
  box-shadow: 15px 15px 30px grey;
  margin-bottom: 50px;
  border-radius: 40%;
  z-index: 1;
}

.aboutme-title,
.work-info,
.contact-info {
  font-size: 40px;
  color: var(--ycolor);
  position: relative;
  right: 200px;
  top: 130px;
  margin-right: 520px;
}
.aboutme-title::after,
.work-info::after,
.contact-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0%;
  display: block;
  transition: 0.8s ease-in-out;
}
.aboutme-title:hover::after,
.work-info:hover:after,
.contact-info:hover::after {
  width: 30%;
  left: 0;
  background-color: rgb(118, 115, 115);
  transition: 0.25ms ease-in-out;
}

.paragraph-me {
  text-align: left;
  display: inline-block;
  font-size: 25px;
  margin: 50px 100px 0px 50px;
  text-indent: 45px;
  color: #555558;
}
.paragraph-me::first-letter {
  color: #7d7d94;
  font-size: 40px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 10px 40px 5px 10px;
}
.portimg {
  transition: transform 700ms cubic-bezier(0.5, 0, 0.5, 1), opacity 200ms linear;
  height: 200px;
  width: 300px;
  position: relative;
  top: 65px;
  left: 20px;
  box-shadow: 10px 10px 30px grey;
  border-radius: 5px;
  z-index: 1;
}
.items {
  margin-bottom: 25px;
}

.portimg:hover,
.items:focus {
  transform: scale(1.1);
  opacity: 0.8;
}

#item1::before,
#item2::before,
#item3::before,
#item4::before,
#item5::before,
#item6::before {
  content: attr(data-tooltip);
  width: max-content;
  max-width: 100%;
  font-size: 25px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: var(--titlecolor);
  color: var(--ycolor);
  text-align: center;
}
#item1:hover::before,
#item2:hover::before,
#item3:hover::before,
#item4:hover::before,
#item5:hover::before,
#item6:hover::before {
  --scale: 1;
}
#item1::before,
#item1::after {
  --scale: 0;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-150%) translateY(1520%) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}
#item2::before,
#item2::after {
  --scale: 0;
  position: absolute;
  top: 1.5rem;
  left: 76%;
  transform: translateX(-150%) translateY(1520%) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}
#item3::before,
#item3::after {
  --scale: 0;
  position: absolute;
  top: 1.5rem;
  left: 100%;
  transform: translateX(-150%) translateY(1520%) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}
#item4::before,
#item4::after {
  --scale: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-150%) translateY(1520%) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}
#item5::before,
#item5::after {
  --scale: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 80%;
  transform: translateX(-150%) translateY(1520%) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}
#item6::before,
#item6::after {
  --scale: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 107%;
  transform: translateX(-150%) translateY(1520%) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}
/*footer*/
footer {
  text-align: center;
  padding: 30px;
}

.fa-regular,
.fa-brands {
  color: white;
  padding: 30px;
  margin-bottom: 100px;
}
.fa-regular:hover,
.fa-brands:hover {
  color: rgb(59, 57, 54);
}
.fa-regular:active,
.fa-brands:active {
  color: rgb(50, 159, 156);
}
@media all and (max-width: 900px) and (min-width: 480px) {
  body {
    background-color: #555558;
  }
}
